<div>


    <div class="row">
      <div class="col-md-12">
        <ngx-datatable
        class="material striped"
        [headerHeight]="50"
        [limit]="20"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'50'"
        [rows]="rates"
        [virtualization]="true"
        [loadingIndicator]="rates == undefined"
        [reorderable]="true">

        <ngx-datatable-column name="MatchId" prop="MatchId">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                 <span
                   title="Double click to edit"
                   (dblclick)="editing[rowIndex + '-MatchId'] = true"
                   *ngIf="!editing[rowIndex + '-MatchId']">
                   {{matches[value]}}
                 </span>
                 <select
                  autofocus
                  (blur)="updateValue($event, 'MatchId', rowIndex)"
                  *ngIf="editing[rowIndex+ '-MatchId']"
                  type="text"
                  [value]="value">
                    <option *ngFor="let match of matches; let i = index"  value="{{i}}">{{match}}</option>
                  </select>

               </ng-template>
          </ngx-datatable-column>
        <ngx-datatable-column name="Odd" prop="Odd">
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
            title="Double click to edit"
            (dblclick)="editing[rowIndex + '-Odd'] = true"
            *ngIf="!editing[rowIndex + '-Odd']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'Odd', rowIndex)"
            *ngIf="editing[rowIndex+ '-Odd']"
            type="text"
            [value]="value"/>
            </ng-template>
       </ngx-datatable-column>

       <ngx-datatable-column name="OddField" prop="OddField">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
             <span
             title="Double click to edit"
             (dblclick)="editing[rowIndex + '-OddField'] = true"
             *ngIf="!editing[rowIndex + '-OddField']">
             {{value}}
           </span>
           <input
             autofocus
             (blur)="updateValue($event, 'OddField', rowIndex)"
             *ngIf="editing[rowIndex+ '-OddField']"
             type="text"
             [value]="value"/>
             </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="OddFieldId" prop="OddFieldId">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
               <span
               title="Double click to edit"
               (dblclick)="editing[rowIndex + '-OddFieldId'] = true"
               *ngIf="!editing[rowIndex + '-OddFieldId']">
               {{value}}
             </span>
             <input
               autofocus
               (blur)="updateValue($event, 'OddFieldId', rowIndex)"
               *ngIf="editing[rowIndex+ '-OddFieldId']"
               type="text"
               [value]="value"/>
               </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="OddId" prop="OddId">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                 <span
                 title="Double click to edit"
                 (dblclick)="editing[rowIndex + '-OddId'] = true"
                 *ngIf="!editing[rowIndex + '-OddId']">
                 {{value}}
               </span>
               <input
                 autofocus
                 (blur)="updateValue($event, 'OddId', rowIndex)"
                 *ngIf="editing[rowIndex+ '-OddId']"
                 type="text"
                 [value]="value"/>
                 </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="OddTypeId" prop="OddTypeId">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                   <span
                   title="Double click to edit"
                   (dblclick)="editing[rowIndex + '-OddTypeId'] = true"
                   *ngIf="!editing[rowIndex + '-OddTypeId']">
                   {{betTypes[value]}}
                 </span>
                 <select
                    autofocus
                    (blur)="updateValue($event, 'TournamentId', rowIndex)"
                    *ngIf="editing[rowIndex+ '-TournamentId']"
                    type="text"
                    [value]="value">
                  <option *ngFor="let betType of betTypes; let i = index"  value="{{i}}">{{betType}}</option>
                </select>
                   </ng-template>
              </ngx-datatable-column>

       <ngx-datatable-column name="Status" prop="Status">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span>
                 <ui-switch [checked]="value===1" (change)="onChange($event,rowIndex)"></ui-switch>

              </span>

            </ng-template>
       </ngx-datatable-column>

       <ngx-datatable-column name="Actions">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <a>
                  <i class="fa fa-trash"></i>
                </a>
              </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

      </div>
    </div>
  </div>
