<div>


  <div class="row">
    <div class="col-md-12">
      <ngx-datatable
      class="material striped"
      [headerHeight]="50"
      [limit]="20"
      [columnMode]="'force'"
      [footerHeight]="50"
      [rowHeight]="'50'"
      [rows]="coupons"
      [virtualization]="true"
      [loadingIndicator]="coupons == undefined"
      [reorderable]="true">
      <ngx-datatable-column name="OperatorId" prop="OperatorId">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-OperatorId'] = true"
              *ngIf="!editing[rowIndex + '-OperatorId']">
              {{operators[value]}}
            </span>

          </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="UserId" prop="UserId">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-UserId'] = true"
              *ngIf="!editing[rowIndex + '-UserId']">
              {{users[value]}}
            </span>

          </ng-template>
     </ngx-datatable-column>


      <ngx-datatable-column name="BetLimit" prop="BetLimit">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{value}}
            </span>
          </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="BetTotal" prop="BetTotal">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-BetTotal'] = true"
              *ngIf="!editing[rowIndex + '-BetTotal']">
              {{value}}
            </span>

          </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="MaxBet" prop="MaxBet">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-MaxBet'] = true"
              *ngIf="!editing[rowIndex + '-MaxBet']">
              {{value}}
            </span>

          </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="MinBet" prop="MinBet">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-MinBet'] = true"
              *ngIf="!editing[rowIndex + '-MinBet']">
              {{value}}
            </span>

          </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="OddTotal" prop="OddTotal">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-OddTotal'] = true"
              *ngIf="!editing[rowIndex + '-OddTotal']">
              {{value}}
            </span>

          </ng-template>
     </ngx-datatable-column>


     <ngx-datatable-column name="TicketId" prop="TicketId">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-TicketId'] = true"
              *ngIf="!editing[rowIndex + '-TicketId']">
              {{value}}
            </span>

          </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="TipCount" prop="TipCount">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-TipCount'] = true"
              *ngIf="!editing[rowIndex + '-TipCount']">
              {{value}}
            </span>

          </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="UpdateId" prop="UpdateId">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-UpdateId'] = true"
              *ngIf="!editing[rowIndex + '-UpdateId']">
              {{value}}
            </span>

          </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="StartDate" prop="StartDate">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-StartDate'] = true"
              *ngIf="!editing[rowIndex + '-StartDate']">
              {{value}}
            </span>

          </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="UpdateDate" prop="UpdateDate">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-UpdateDate'] = true"
              *ngIf="!editing[rowIndex + '-UpdateDate']">
              {{value}}
            </span>

          </ng-template>
     </ngx-datatable-column>
      <ngx-datatable-column name="EndDate" prop="EndDate">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-EndDate'] = true"
              *ngIf="!editing[rowIndex + '-EndDate']">
              {{value}}
            </span>

          </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="Status" prop="Status">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
               <ui-switch [checked]="value===1" (change)="onChange($event,rowIndex)"></ui-switch>

            </span>

          </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="Actions">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <a>
                <i class="fa fa-trash"></i>
              </a>
            </ng-template>
          </ngx-datatable-column>



      </ngx-datatable>

    </div>
  </div>
</div>
