  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ülke Ekle</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
      <label for="dateOfBirth">CountryId</label>
        <div class="input-group">
          <input type='text' style='padding:8px;margin:15px auto;width:20%;' placeholder='CountryId' class="form-control" [(ngModel)]="CountryId" name="CountryId"/>
        </div>
        <label for="dateOfBirth">Title</label>
        <div class="input-group">
          <input type='text' style='padding:8px;margin:15px auto;width:20%;' placeholder='Title' class="form-control" [(ngModel)]="Title" name="Title"/>
        </div>
        <label for="dateOfBirth">Sport</label>
        <ngx-select-dropdown (change)="changeSport($event)" [config]="configSport" [options]="sports" class="" ></ngx-select-dropdown>
        <label for="dateOfBirth">Status</label>
        <ngx-select-dropdown (change)="change($event)" [config]="config" [options]="options" class="" ></ngx-select-dropdown>

        <label for="dateOfBirth">List Order</label>
        <div class="input-group">
          <input type='text' style='padding:8px;margin:15px auto;width:20%;' placeholder='ListOrder' class="form-control" [(ngModel)]="ListOrder" name="ListOrder"/>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success btn-outline-dark" (click)="saveItem()">Save</button>
  </div>
