<div>
<div class="row">
  <div class="col-md-12">
      <select (change)="onLimitChange($event.target.value)">
          <option
            *ngFor="let option of pageLimitOptions"
            [value]="option.value"
            [selected]="option.value == currentPageLimit"
          >
            {{ option.value }} per page
          </option>
        </select>
        <ngx-select-dropdown (change)="filterSport($event)" [config]="configSportFilter" [options]="sports" class="" ></ngx-select-dropdown>



      <button class="btn btn-success btn-xs pull-right offset-md-11 col-md-1" (click)="openFormModal()">Ekle</button>

  </div>
</div>

<div class="row">
<div class="col-md-12">

      <ngx-datatable
      class="material striped"
      [headerHeight]="50"
      [limit]="20"
      columnMode="force"
      [footerHeight]="50"
      [rowHeight]="'40'"
      [scrollbarH]="true"
      [rows]="countries"
      [virtualization]="true"
      [loadingIndicator]="countries == undefined"
      [reorderable]="true"
      >

      <ngx-datatable-column name="Id" prop="CategoryId">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
               <span
                 title="Double click to edit"
                 (dblclick)="editing[rowIndex + '-CategoryId'] = true"
                 *ngIf="!editing[rowIndex + '-CategoryId']">
                 {{value}}
               </span>
               <input
              autofocus
              (blur)="updateValue($event, 'CategoryId', rowIndex)"
              *ngIf="editing[rowIndex+ '-CategoryId']"
              type="text"
              [value]="value"/>
             </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Title" prop="Title">

          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-Title'] = true;"
              *ngIf="!editing[rowIndex + '-Title']">
              {{value}}
            </span>
            <input
              autofocus
              (blur)="updateValue($event, 'Title', rowIndex)"
              *ngIf="editing[rowIndex+ '-Title']"
              type="text"
              [value]="value"/>
          </ng-template>
         </ngx-datatable-column>

        <ngx-datatable-column name="Sport" prop="Sport">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                 <span>
                   {{value}}
                 </span>

               </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="SportId" prop="SportId">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                     <span
                       title="Double click to edit"
                       (dblclick)="editing[rowIndex + '-SportId'] = true"
                       *ngIf="!editing[rowIndex + '-SportId']">
                       {{value}}
                     </span>
                     <select
                       autofocus
                       (blur)="updateValue($event, 'SportId', rowIndex)"
                       *ngIf="editing[rowIndex+ '-SportId']"
                       type="text"
                       [value]="value">
                       <option *ngFor="let item of sports;"  [value]="item.SportId" >{{item.Title}}</option>
                      </select>
                   </ng-template>
              </ngx-datatable-column>

          <ngx-datatable-column name="Status" prop="Status">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <span>
                     <ui-switch [checked]="value===1" (change)="onChange($event,rowIndex)"></ui-switch>

                  </span>

                </ng-template>
           </ngx-datatable-column>
           <ngx-datatable-column name="ListOrder" prop="ListOrder">

            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span
                title="Double click to edit"
                (dblclick)="editing[rowIndex + '-ListOrder'] = true"
                *ngIf="!editing[rowIndex + '-ListOrder']">
                {{value}}
              </span>
              <input
                autofocus
                (blur)="updateValue($event, 'ListOrder', rowIndex)"
                *ngIf="editing[rowIndex+ '-ListOrder']"
                type="text"
                [value]="value"/>
            </ng-template>
           </ngx-datatable-column>
           <ngx-datatable-column name="Actions">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <a>
                <i class="fa fa-trash"></i>
              </a>
            </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
</div>

</div>


</div>
