<div>


  <div class="row">
    <div class="col-md-12">
      <ngx-datatable
      class="material striped"
      [headerHeight]="50"
      [limit]="20"
      [columnMode]="'force'"
      [footerHeight]="50"
      [rowHeight]="'50'"
      [rows]="betTypes"
      [virtualization]="true"
      [loadingIndicator]="betTypes == undefined"
      [reorderable]="true">

      <ngx-datatable-column name="Title" prop="Title">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
               <span
                 title="Double click to edit"
                 (dblclick)="editing[rowIndex + '-Title'] = true"
                 *ngIf="!editing[rowIndex + '-Title']">
                 {{value}}
               </span>
               <input
                autofocus
                (blur)="updateValue($event, 'Title', rowIndex)"
                *ngIf="editing[rowIndex+ '-Title']"
                type="text"
                [value]="value"/>

             </ng-template>
        </ngx-datatable-column>
      <ngx-datatable-column name="ListOrder" prop="ListOrder">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
          title="Double click to edit"
          (dblclick)="editing[rowIndex + '-ListOrder'] = true"
          *ngIf="!editing[rowIndex + '-ListOrder']">
          {{value}}
        </span>
        <input
          autofocus
          (blur)="updateValue($event, 'ListOrder', rowIndex)"
          *ngIf="editing[rowIndex+ '-ListOrder']"
          type="text"
          [value]="value"/>
          </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="OddTypeId" prop="OddTypeId">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
          title="Double click to edit"
          (dblclick)="editing[rowIndex + '-OddTypeId'] = true"
          *ngIf="!editing[rowIndex + '-OddTypeId']">
          {{value}}
        </span>
        <input
          autofocus
          (blur)="updateValue($event, 'OddTypeId', rowIndex)"
          *ngIf="editing[rowIndex+ '-OddTypeId']"
          type="text"
          [value]="value"/>
          </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="SportId" prop="SportId">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
          title="Double click to edit"
          (dblclick)="editing[rowIndex + '-SportId'] = true"
          *ngIf="!editing[rowIndex + '-SportId']">
          {{sports[value]}}
        </span>
        <select
        autofocus
        (blur)="updateValue($event, 'SportId', rowIndex)"
        *ngIf="editing[rowIndex+ '-SportId']"
        type="text"
        [value]="value">
          <option *ngFor="let sport of sports; let i = index"  value="{{i}}">{{sport}}</option>
        </select>
          </ng-template>
     </ngx-datatable-column>


     <ngx-datatable-column name="Status" prop="Status">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
               <ui-switch [checked]="value===1" (change)="onChange($event,rowIndex)"></ui-switch>

            </span>

          </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="Actions">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <a>
                <i class="fa fa-trash"></i>
              </a>
            </ng-template>
          </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </div>
</div>
