<div>


    <div class="row">
      <div class="col-md-12">
        <ngx-datatable
        class="material striped"
        [headerHeight]="50"
        [limit]="20"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'50'"
        [rows]="matches"
        [virtualization]="true"
        [loadingIndicator]="matches == undefined"
        [reorderable]="true">

        <ngx-datatable-column name="CompId1" prop="CompId1">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                 <span
                   title="Double click to edit"
                   (dblclick)="editing[rowIndex + '-CompId1'] = true"
                   *ngIf="!editing[rowIndex + '-CompId1']">
                   {{teams[value]}}
                 </span>
                 <select
                  autofocus
                  (blur)="updateValue($event, 'CompId1', rowIndex)"
                  *ngIf="editing[rowIndex+ '-CompId1']"
                  type="text"
                  [value]="value">
                    <option *ngFor="let team of teams; let i = index"  value="{{i}}">{{team}}</option>
                  </select>

               </ng-template>
          </ngx-datatable-column>
        <ngx-datatable-column name="CompId2" prop="CompId2">
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
            title="Double click to edit"
            (dblclick)="editing[rowIndex + '-CompId2'] = true"
            *ngIf="!editing[rowIndex + '-CompId2']">
            {{teams[value]}}
          </span>
          <select
            autofocus
            (blur)="updateValue($event, 'CompId1', rowIndex)"
            *ngIf="editing[rowIndex+ '-CompId1']"
            type="text"
            [value]="value">
            <option *ngFor="let team of teams; let i = index"  value="{{i}}">{{team}}</option>
          </select>
            </ng-template>
       </ngx-datatable-column>

       <ngx-datatable-column name="SportId" prop="SportId">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
             <span
             title="Double click to edit"
             (dblclick)="editing[rowIndex + '-SportId'] = true"
             *ngIf="!editing[rowIndex + '-SportId']">
             {{sports[value]}}
           </span>
           <select
          autofocus
          (blur)="updateValue($event, 'OddTypeId', rowIndex)"
          *ngIf="editing[rowIndex+ '-OddTypeId']"
          type="text"
          [value]="value">
            <option *ngFor="let sport of sports; let i = index"  value="{{i}}">{{sport}}</option>
          </select>
             </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="TournamentId" prop="TournamentId">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
               <span
               title="Double click to edit"
               (dblclick)="editing[rowIndex + '-TournamentId'] = true"
               *ngIf="!editing[rowIndex + '-TournamentId']">
               {{tournaments[value]}}
             </span>
             <select
              autofocus
              (blur)="updateValue($event, 'TournamentId', rowIndex)"
              *ngIf="editing[rowIndex+ '-TournamentId']"
              type="text"
              [value]="value">
            <option *ngFor="let tournament of tournaments; let i = index"  value="{{i}}">{{tournament}}</option>
          </select>
               </ng-template>
          </ngx-datatable-column>

       <ngx-datatable-column name="Status" prop="Status">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span>
                 <ui-switch [checked]="value===1" (change)="onChange($event,rowIndex)"></ui-switch>

              </span>

            </ng-template>
       </ngx-datatable-column>

       <ngx-datatable-column name="Actions">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <a>
                  <i class="fa fa-trash"></i>
                </a>
              </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

      </div>
    </div>
  </div>
