
        <div _ngcontent-c2="" class="columns">
          <nb-layout-column _ngcontent-c51="">
            <nb-card _ngcontent-c51="" _nghost-c25="">
              <nb-card-header _ngcontent-c51="">
                <nav _ngcontent-c51="" class="navigation"><a _ngcontent-c51="" aria-label="Back" class="link" href="#"><i
                      _ngcontent-c51="" class="icon nb-arrow-thin-left"></i></a></nav>
              </nb-card-header>
              <nb-card-body _ngcontent-c51="">
                    <h1 class="title" id="title">Login</h1>
                    <p class="sub-title">Hello! Log in with your email.</p>
                    <!---->
                    <!---->
                    <form aria-labelledby="title" novalidate="" class="ng-touched ng-dirty ng-invalid" (ngSubmit)="login(username.value,password.value)">
                      <div class="form-control-group"><label class="label" for="input-email">Username:</label><input
                          autofocus="" fullwidth="" id="input-email" name="email" nbinput=""
                          placeholder="Username" class="input-full-width input-md input-rectangle ng-pristine ng-invalid ng-touched"
                          required="" aria-invalid="true"
                          #username>
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                        <!---->
                      </div>
                      <div class="form-control-group"><label class="label" for="input-password">Password:</label><input
                          fullwidth="" id="input-password" name="password" nbinput="" placeholder="Password" type="password"
                          class="input-full-width input-md input-rectangle ng-untouched ng-pristine ng-invalid"
                          required="" minlength="4" maxlength="50" #password>
                        <!---->
                      </div>

                    <button fullwidth="" status="success"  class="btn btn-success btn-full-width "
                        aria-disabled="true" tabindex="-1" >
                        Log In
                    </button>
                    </form>

                    <!---->

              </nb-card-body>
            </nb-card>
          </nb-layout-column>
        </div>
<toaster-container></toaster-container>
