<div>


    <div class="row">
      <div class="col-md-12">
        <ngx-datatable
        class="material striped"
        [headerHeight]="50"
        [limit]="20"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'50'"
        [rows]="dealers"
        [virtualization]="true"
        [loadingIndicator]="dealers == undefined"
        [reorderable]="true">

        <ngx-datatable-column name="Title" prop="Title">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                 <span
                   title="Double click to edit"
                   (dblclick)="editing[rowIndex + '-Title'] = true"
                   *ngIf="!editing[rowIndex + '-Title']">
                   {{value}}
                 </span>
                 <input
                  autofocus
                  (blur)="updateValue($event, 'Title', rowIndex)"
                  *ngIf="editing[rowIndex+ '-Title']"
                  type="text"
                  [value]="value"/>

               </ng-template>
          </ngx-datatable-column>

        <ngx-datatable-column name="Admin" prop="Admin">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                 <span
                   title="Double click to edit"
                   (dblclick)="editing[rowIndex + '-Admin'] = true"
                   *ngIf="!editing[rowIndex + '-Admin']">
                   {{value}}
                 </span>
                 <input
                  autofocus
                  (blur)="updateValue($event, 'Admin', rowIndex)"
                  *ngIf="editing[rowIndex+ '-Admin']"
                  type="text"
                  [value]="value"/>

               </ng-template>
          </ngx-datatable-column>
        <ngx-datatable-column name="Email" prop="Email">
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
            title="Double click to edit"
            (dblclick)="editing[rowIndex + '-Email'] = true"
            *ngIf="!editing[rowIndex + '-Email']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'Email', rowIndex)"
            *ngIf="editing[rowIndex+ '-Email']"
            type="text"
            [value]="value"/>
            </ng-template>
       </ngx-datatable-column>

       <ngx-datatable-column name="LoginName" prop="LoginName">
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
            title="Double click to edit"
            (dblclick)="editing[rowIndex + '-LoginName'] = true"
            *ngIf="!editing[rowIndex + '-LoginName']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'LoginName', rowIndex)"
            *ngIf="editing[rowIndex+ '-LoginName']"
            type="text"
            [value]="value"/>
            </ng-template>
       </ngx-datatable-column>
       <ngx-datatable-column name="MasterOperatorId" prop="MasterOperatorId">
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
            title="Double click to edit"
            (dblclick)="editing[rowIndex + '-MasterOperatorId'] = true"
            *ngIf="!editing[rowIndex + '-MasterOperatorId']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'MasterOperatorId', rowIndex)"
            *ngIf="editing[rowIndex+ '-MasterOperatorId']"
            type="text"
            [value]="value"/>
            </ng-template>
       </ngx-datatable-column>
       <ngx-datatable-column name="OperatorId" prop="OperatorId">
       <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
            title="Double click to edit"
            (dblclick)="editing[rowIndex + '-OperatorId'] = true"
            *ngIf="!editing[rowIndex + '-OperatorId']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'OperatorId', rowIndex)"
            *ngIf="editing[rowIndex+ '-OperatorId']"
            type="text"
            [value]="value"/>
            </ng-template>
       </ngx-datatable-column>


       <ngx-datatable-column name="Status" prop="Status">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span>
                 <ui-switch [checked]="value===1" (change)="onChange($event,rowIndex)"></ui-switch>

              </span>

            </ng-template>
       </ngx-datatable-column>

       <ngx-datatable-column name="Actions">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <a>
                  <i class="fa fa-trash"></i>
                </a>
              </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

      </div>
    </div>
  </div>
