<div>
<div class="row">
  <ngx-select-dropdown (change)="filterBySport($event)" [config]="configSportFilter" [options]="sports" class="" [(value)]='selectedSportFilter' ></ngx-select-dropdown>
  <ngx-select-dropdown (change)="filterByCountry($event)" [config]="configCountryFilter" [options]="selectCountries" class="" [value]='selectedCountryFilter'></ngx-select-dropdown>
  <ngx-select-dropdown (change)="filterByStatus($event)" [config]="configStatusFilter" [options]="statuses" class="" [value]='search.Status'></ngx-select-dropdown>
  <ngx-select-dropdown (change)="onLimitChange($event.value[0].value)" [config]="configPageLimit" [options]="pageLimitOptions" class="" ></ngx-select-dropdown>

  <select (change)="onLimitChange($event.target.value)">
          <option
            *ngFor="let option of pageLimitOptions"
            [value]="option.value"
            [selected]="option.value == currentPageLimit"
          >
            {{ option.value }} per page
          </option>
        </select>
<div>
    <button class="btn btn-success btn-xs" (click)="openFormModal()" style="height:55px">Ekle</button>
</div>
</div>
  <div class="row">
    <div class="col-md-12">
      <ngx-datatable
      class="material striped"
      [headerHeight]="50"
      [limit]="20"
      columnMode="force"
      [scrollbarH]="true"
      [footerHeight]="50"
      [rowHeight]="'50'"
      [rows]="tournements"
      [virtualization]="true"
      [loadingIndicator]="tournements == undefined"
      [reorderable]="true">
      <ngx-datatable-column name="TournamentId" prop="TournamentId">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span>
        {{value}}
      </span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Title" prop="Title">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-Title'] = true"
              *ngIf="!editing[rowIndex + '-Title']">
              {{value}}
            </span>

          </ng-template>
     </ngx-datatable-column>
      <ngx-datatable-column name="Country" prop="CategoryId">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
            title="Double click to edit"
            (dblclick)="editing[rowIndex + '-CategoryId'] = true"
            *ngIf="!editing[rowIndex + '-CategoryId']">
            {{value}}
          </span>
          <select
            autofocus
            (blur)="updateValue($event, 'CategoryId', rowIndex)"
            *ngIf="editing[rowIndex+ '-CategoryId']"
            [value]="value"
            style='padding:8px;margin:15px auto;width:20%;' >
            <option *ngFor="let country of countries"  value="{{country.CategoryId}}">{{country.Title}}</option>
          </select>

        </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="Country" prop="Category">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>
            {{value}}
          </span>


        </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="Sport" prop="SportId">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
             <span
               title="Double click to edit"
               (dblclick)="editing[rowIndex + '-SportId'] = true"
               *ngIf="!editing[rowIndex + '-SportId']">
               {{value}}
             </span>
             <select
               autofocus
               (blur)="updateValue($event, 'SportId', rowIndex)"
               *ngIf="editing[rowIndex+ '-SportId']"
               [value]="value"
               style='padding:8px;margin:15px auto;width:20%;' >
             <option *ngFor="let sport of sports;"  value="{{sport.SportId}}">{{sport.Title}}</option>
             </select>

           </ng-template>
      </ngx-datatable-column>
       <ngx-datatable-column name="Sport" prop="Sport">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
             <span>
               {{value}}
             </span>


           </ng-template>
      </ngx-datatable-column>

     <ngx-datatable-column name="Status" prop="Status">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span>
                 <ui-switch [checked]="value===1" (change)="onChange($event,rowIndex)"></ui-switch>

              </span>

            </ng-template>
       </ngx-datatable-column>

      <ngx-datatable-column name="ListOrder" prop="ListOrder">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
            title="Double click to edit"
            (dblclick)="editing[rowIndex + '-ListOrder'] = true"
            *ngIf="!editing[rowIndex + '-ListOrder']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'ListOrder', rowIndex)"
            *ngIf="editing[rowIndex+ '-ListOrder']"
            type="text"
            [value]="value"/>



               </ng-template>
          </ngx-datatable-column>
      <ngx-datatable-column name="Actions">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <a>
            <i class="fa fa-trash"></i>
          </a>
        </ng-template>
      </ngx-datatable-column>
      </ngx-datatable>

    </div>
  </div>
</div>
