<div>

<div class="row">
  <div class="col-md-12">
      <select (change)="onLimitChange($event.target.value)">
          <option
            *ngFor="let option of pageLimitOptions"
            [value]="option.value"
            [selected]="option.value == currentPageLimit"
          >
            {{ option.value }} per page
          </option>
        </select>
      <button class="btn btn-success btn-xs pull-right offset-md-11 col-md-1" (click)="openFormModal()">Ekle</button>

  </div>
</div>
<div class="container" style="margin-top:10px">

    <div class="row">
        <input type='text' placeholder='SportId' class="form-control col-md-3" [(ngModel)]="SportId" (keydown)="onKeydownEvent($event,'SportId',SportId)"/>
      <input type='text'  placeholder='Title' class="form-control col-md-3"  [(ngModel)]="Title"/>

      <ngx-select-dropdown (change)="dropChange($event)" [config]="config" [options]="options" class="form-control col-md-3" >

      </ngx-select-dropdown>


      <input type='text'  placeholder='ListOrder' class="form-control col-md-3"  [(ngModel)]="ListOrder"/>
    </div>

</div>

<div>

</div>

<div class="row">
  <div class="col-md-12">
    <ngx-datatable
    class="material striped"
    [headerHeight]="50"
    [limit]="20"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'50'"
    [rows]="rows"
    [virtualization]="true"
    [loadingIndicator]="rows == undefined"
    [reorderable]="true"
    [loadingIndicator]="true"
    >
    <ngx-datatable-column name="ListOrder" prop="ListOrder">

        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
            title="Double click to edit"
            (click)="editing[rowIndex + '-ListOrder'] = true"
            *ngIf="!editing[rowIndex + '-ListOrder']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'ListOrder', rowIndex)"
            (keydown)="updateValueEnter($event,'ListOrder',rowIndex)"
            *ngIf="editing[rowIndex+ '-ListOrder']"
            type="text"
            [value]="value"
          />
        </ng-template>
       </ngx-datatable-column>
     <ngx-datatable-column name="SportId" prop="SportId">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              >
              {{value}}
            </span>

          </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="Title" prop="Title">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="editing[rowIndex + '-Title'] = true"
              *ngIf="!editing[rowIndex + '-Title']">
              {{value}}
            </span>
            <input
              autofocus
              (blur)="updateValue($event, 'Title', rowIndex)"
              (keydown)="updateValueEnter($event,'Title',rowIndex)"
              *ngIf="editing[rowIndex+ '-Title']"
              type="text"
              [value]="value"
            />
          </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="Status" prop="Status">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
               <ui-switch [checked]="value===1" (change)="onChange($event,rowIndex)"></ui-switch>

            </span>

          </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="Actions">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <a>
          <i class="fa fa-trash"></i>
        </a>
      </ng-template>
    </ngx-datatable-column>


</ngx-datatable>



  </div>
</div>

</div>
