

<div class="row">
    <div class="col-md-6">
      <label for="" class="text-danger"><i class="nb-info"></i> Kime</label>
        <div class="input-group input-group-rounded">

            <select [(ngModel)]="serviceType" class="form-control">
              <option value="user">Kullanıcı</option>
              <option value="dealer">Bayi</option>
            </select>
          </div>
    </div>
    <div class="col-md-6" *ngIf="serviceType=='user'" >
        <label for="" class="text-danger"><i class="nb-info"></i> Seçiniz</label>

        <div class="input-group input-group-rounded">
          <select name="" id="" class="form-control">
            <option value="">UserList</option>
          </select>
        </div>

        <div class="input-group">
          <span class="input-group-addon success">₺</span>
          <input class="form-control" placeholder="Amount" type="text">
        </div>
          <button class="btn btn-primary btn-xs ">Gönder</button>
    </div>
    <div class="col-md-6" *ngIf="serviceType=='dealer'" >
        <label for="" class="text-danger"><i class="nb-info"></i> Seçiniz</label>

        <div class="input-group input-group-rounded">
          <select name="" id="" class="form-control">
            <option value="">DealerList</option>
          </select>
        </div>

        <div class="input-group">
          <span class="input-group-addon success">₺</span>
          <input class="form-control" placeholder="Amount" type="text">
        </div>
          <button class="btn btn-primary btn-xs ">Gönder</button>
    </div>
  </div>
