<div>


    <div class="row">
      <div class="col-md-12">
        <ngx-datatable
        class="material striped"
        [headerHeight]="50"
        [limit]="20"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'50'"
        [rows]="results"
        [virtualization]="true"
        [loadingIndicator]="results == undefined"
        [reorderable]="true">

        <ngx-datatable-column name="Comp1" prop="Comp1">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                 <span
                   title="Double click to edit"
                   (dblclick)="editing[rowIndex + '-CompId1'] = true"
                   *ngIf="!editing[rowIndex + '-CompId1']">
                   {{value}}
                 </span>
                  <input
                  autofocus
                  (blur)="updateValue($event, 'CompId1', rowIndex)"
                  *ngIf="editing[rowIndex+ '-CompId1']"
                  type="text"
                  [value]="value"/>

               </ng-template>
          </ngx-datatable-column>
        <ngx-datatable-column name="Comp2" prop="Comp2">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                 <span
                   title="Double click to edit"
                   (dblclick)="editing[rowIndex + '-Comp2'] = true"
                   *ngIf="!editing[rowIndex + '-Comp2']">
                   {{value}}
                 </span>
                  <input
                  autofocus
                  (blur)="updateValue($event, 'Comp2', rowIndex)"
                  *ngIf="editing[rowIndex+ '-Comp2']"
                  type="text"
                  [value]="value"/>

               </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="FtScore" prop="FtScore">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                 <span
                   title="Double click to edit"
                   (dblclick)="editing[rowIndex + '-FtScore'] = true"
                   *ngIf="!editing[rowIndex + '-FtScore']">
                   {{value}}
                 </span>
                  <input
                  autofocus
                  (blur)="updateValue($event, 'FtScore', rowIndex)"
                  *ngIf="editing[rowIndex+ '-FtScore']"
                  type="text"
                  [value]="value"/>

               </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="HtScore" prop="HtScore">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                 <span
                   title="Double click to edit"
                   (dblclick)="editing[rowIndex + '-HtScore'] = true"
                   *ngIf="!editing[rowIndex + '-HtScore']">
                   {{value}}
                 </span>
                  <input
                  autofocus
                  (blur)="updateValue($event, 'HtScore', rowIndex)"
                  *ngIf="editing[rowIndex+ '-HtScore']"
                  type="text"
                  [value]="value"/>

               </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="MatchDate" prop="MatchDate">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                 <span
                   title="Double click to edit"
                   (dblclick)="editing[rowIndex + '-MatchDate'] = true"
                   *ngIf="!editing[rowIndex + '-MatchDate']">
                   {{value}}
                 </span>
                  <input
                  autofocus
                  (blur)="updateValue($event, 'MatchDate', rowIndex)"
                  *ngIf="editing[rowIndex+ '-MatchDate']"
                  type="text"
                  [value]="value"/>

               </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="MatchId" prop="MatchId">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                 <span
                   title="Double click to edit"
                   (dblclick)="editing[rowIndex + '-MatchId'] = true"
                   *ngIf="!editing[rowIndex + '-MatchId']">
                   {{value}}
                 </span>
                  <input
                  autofocus
                  (blur)="updateValue($event, 'MatchId', rowIndex)"
                  *ngIf="editing[rowIndex+ '-MatchId']"
                  type="text"
                  [value]="value"/>

               </ng-template>
          </ngx-datatable-column>

       <ngx-datatable-column name="Status" prop="Status">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span>
                 <ui-switch [checked]="value===1" (change)="onChange($event,rowIndex)"></ui-switch>

              </span>

            </ng-template>
       </ngx-datatable-column>

       <ngx-datatable-column name="Actions">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <a>
                  <i class="fa fa-trash"></i>
                </a>
              </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

      </div>
    </div>
  </div>
