<div>
<div class="row">
  <ngx-select-dropdown (change)="filterBySport($event)" [config]="configSportFilter" [options]="sports" class="" [(value)]='selectedSportFilter' ></ngx-select-dropdown>
  <ngx-select-dropdown (change)="filterByCountry($event)" [config]="configCountryFilter" [options]="selectCountries" class="" [value]='selectedCountryFilter'></ngx-select-dropdown>
  <ngx-select-dropdown (change)="filterByTournement($event)" [config]="configTournementFilter" [options]="selectCountries" class="" [value]='selectedTournementFilter'></ngx-select-dropdown>
  <ngx-select-dropdown (change)="filterByStatus($event)" [config]="configStatusFilter" [options]="statuses" class="" [value]='search.Status'></ngx-select-dropdown>
  <ngx-select-dropdown (change)="onLimitChange($event.value[0].value)" [config]="configPageLimit" [options]="pageLimitOptions" class="" ></ngx-select-dropdown>

  <select (change)="onLimitChange($event.target.value)">
          <option
            *ngFor="let option of pageLimitOptions"
            [value]="option.value"
            [selected]="option.value == currentPageLimit"
          >
            {{ option.value }} per page
          </option>
        </select>
<div>
    <button class="btn btn-success btn-xs" (click)="openFormModal()" style="height:55px">Ekle</button>
</div>
</div>
  <div class="row">
    <div class="col-md-12">
      <ngx-datatable
      class="material striped"
      [headerHeight]="50"
      [limit]="20"
      [columnMode]="'force'"
      [footerHeight]="50"
      [rowHeight]="'50'"
      [rows]="teams"
      [virtualization]="true"
      [loadingIndicator]="teams == undefined"
      [reorderable]="true">
      <ngx-datatable-column name="CompId" prop="CompId">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{value}}
            </span>
          </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="Title" prop="Title">
     <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-Title'] = true"
              *ngIf="!editing[rowIndex + '-Title']">
              {{value}}
            </span>

          </ng-template>
     </ngx-datatable-column>
     <ngx-datatable-column name="Status" prop="Status">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
               <ui-switch [checked]="value===1" (change)="onChange($event,rowIndex)"></ui-switch>

            </span>

          </ng-template>
     </ngx-datatable-column>

     <ngx-datatable-column name="Actions">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <a>
                <i class="fa fa-trash"></i>
              </a>
            </ng-template>
          </ngx-datatable-column>



      </ngx-datatable>

    </div>
  </div>
</div>
